
.Person {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border: 1px solid darkkhaki;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;

}

.Person span {
  padding-right:7px;
  color: red;
}

.Person p {
  cursor: pointer;
}

/* @media (min-width: 600px ) {
  .Person {
    width: 550px
  }
} */