.App {
  background-color: white;
  border: 1px solid darkkhaki;
  width: 400px;;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
}

@media(min-with: 800px) {
  width: 600px
}

.App span {
  padding-right: 5px;
  color: red;
}

.App h1 {
  font-family: 'Supermercado One', cursive;
  color: darkolivegreen;
}

.App div {
  margin-bottom: 8px;
}


.App span.length {
  margin-left: 20px;
}

/*.App div:nth-of-type(2) {
  background-color: forestgreen;
  color: white;
} */

.charList div {
  margin: 0;
}
.charList div:nth-of-type(even) {
  background-color: red;
}

input {
  font-family: 'Lato', sans-serif;
  width: 75%;
  padding: 8px;
  font-size: 1.4rem;
  border-radius: 6px;
}